html {
  box-sizing: border-box;
  font-size: 100%; //16px
}
*::before,
*,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
ul li {
  list-style: none;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  color: unset;
  text-decoration: none;
}
a {
  transition: color 300ms ease-in-out;
}
a:hover {
  color: $primaryGreen;
}
button,
button:active,
button:focus,
input:focus,
input:active,
textarea:active,
textarea:focus {
  outline: none;
}
input {
  height: 2.5rem;
}
input,
textarea {
  margin: 0;
  background: transparent;
  border: 0.0625rem solid $primaryGreen;
  border-radius: 0.3125rem;
  transition: all 30ms ease-in-out;
}
textarea {
  resize: none;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  border: 0.0625rem solid $lightDark;
  box-shadow: 0rem 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
}
select:active,
select:focus {
  border: none;
  outline: none;
}
p {
  opacity: 0.7;
  font-size: 1.25rem;
  margin: 0.625rem 0;
  font-weight: lighter;
}
ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}
h1 {
  color: $primaryGreen;
}

.img {
  width: 100%;
  height: auto;
}
body {
  position: relative;
  min-height: 100vh;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  line-height: 1.3;
  margin-top: 3.25rem;
  background: $primaryGray;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.4rem; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $primaryDark; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryDark; /* color of the scroll thumb */
    border-radius: 1.25rem; /* roundness of the scroll thumb */
    border: 0.0625rem solid $primaryGreen; /* creates padding around scroll thumb */
  }
}