.container .register {
  height: 100%;
  @include breakpoint-down(small) {
    flex-direction: column;

    h1{
      font-size: 2rem;
    }
  }
  &__banner {
    padding: 10px;
    background-image: url(https://i.pinimg.com/originals/50/4b/7c/504b7c5ef4b499041d013520d1ef2561.jpg);
    background-color: rgba($color: $primaryDark, $alpha: 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;

    p{
      font-size: 1.7rem;
    }
  }
  &__form {
    padding: 0.625rem;
    h3{
      font-size: 1.6rem;
      text-align: center;
    }
    // border: 1px solid red;
    .form {
      margin-top: 40%;
      @include breakpoint-down(small) {
        margin-top: 10%;
      }
      // border: 1px solid red;
      .form-input {
        margin: 20px;
      }
      .btn-primary {
        margin: 10px 40%;
      }
    }
  }
}
