<div class="dashboard flex al-c flex-col">
  {{#if message}}
  <div class="dashboard__message-banner jc-c al-c flex">
    <p>{{message}}</p>
  </div>
  {{/if}}
  <h3>Today's Movie Pick</h3>
  <div class="dashboard__card flex">
    <div class="dashboard__card__image"></div>
    <div class="dashboard__card__content flex flex-col jc-sa">
      <h3>Man With a Plan SN1</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio non vel adipisci animi nisi, quasi laboriosam obcaecati minus quae expedita.</p>
      <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></p>
    </div>
  </div>
  <div class="dashboard__btn-class flex jc-se al-c">
    <a href="/api/subscribe"><button class="btn btn-primary">Subscribe</button></a>
    <a href="/api/unsubscribe"><button class="btn btn-danger">Unsubscribe</button></a>
  </div>
  <hr>
  <div class="dashboard__message flex flex-col jc-c">
    <p>To receive the suggested movie in your mail box, please subscribe above. You can cancel at any time and your data will be deleted PERMANENTLY!</p>
    <p><u>Merci Beaucoup!</u></p>
  </div>
</div>