<div class="success flex flex-col jc-c al-c">
  <div class="success__check flex jc-c al-c">
    <i class="fa fa-check fa-4x"></i>
  </div>
  <div class="success__body">
    <h1>Welcome to Movie Mailer!</h1>
    <p>Please check your email for today's movie pick.</p>
    <a href="/api/dashboard"><button class="btn btn-secondary">Dashboard</button></a>
  </div>
</div>