<div class="errors flex flex-col jc-c al-c">
  <div class="errors__cancel flex jc-c al-c">!</div>
  <h1>Server Error!</h1>
  <p>We're sorry, something went wrong</p>
  <a href="/dashboard"><button class="btn btn-secondary">Dashboard</button></a>
</div>